In [21]:
df_final_clean = pd.read_csv('df_final_clean.csv')
df_final_clean_sorted = df_final_clean.sort_values(by='timestamp')
df_final_clean_sorted[['timestamp', 'user_id', 'post_id', 'target']].head(3)

                   timestamp  user_id  post_id  target
1068273  2021-10-01 06:01:52    79078     6409       0
1161291  2021-10-01 06:02:00    85691     2926       0
1450667  2021-10-01 06:02:00   107512     5590       0

In [22]:
df_final_clean_sorted['topic_hour'] = df_final_clean_sorted['topic_code'] * df_final_clean_sorted['hour_cos']
df_final_clean_sorted['age_topic'] = df_final_clean_sorted['age_category'] * df_final_clean_sorted['topic_code']
df_final_clean_sorted['weekend_hour'] = (df_final_clean_sorted['dow_sin'] > 0) * df_final_clean_sorted['hour_cos']

In [23]:
df_final_clean_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2316679 entries, 1068273 to 1223041
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   timestamp            object
 1   user_id              int64
 2   post_id              int64
 3   target               int64
 4   age_category         int64
 5   gender               int64
 6   exp_group            int64
 7   hour_sin             float64
 8   hour_cos             float64
 9   dow_sin              float64
 10  dow_cos              float64
 11  topic_code           int64
 12  topic_movie          float64
 13  topic_politics       float64
 14  topic_sport          float64
 15  topic_business       float64
 16  topic_entertainment  float64
 17  topic_tech           float64
 18  post_embed_0         float64
 19  post_embed_1         float64
 20  topic_hour           float64
 21  age_topic            int64
 22  weekend_hour         float64
dtypes: float64(14), int64(8), object(1)
memory usage: 424.2+ MB

In [18]:
print("\n–ó–Ω–∞—á–µ–Ω–∏—è –∏ –∏—Ö —á–∞—Å—Ç–æ—Ç–∞:")
print(df_final_clean_sorted['age_topic'].value_counts().sort_index())

–ó–Ω–∞—á–µ–Ω–∏—è –∏ –∏—Ö —á–∞—Å—Ç–æ—Ç–∞:
age_topic
0     480201
1     109107
2     109405
3     283637
4     164450
5     111134
6     171695
8      83553
9     168047
10     75975
12    226044
15    132768
16     33360
18     35663
20     62074
24     20107
25     20778
30     14748
36      3509
Name: count, dtype: int64

In [24]:
def hitrate_at_5_fast(preds, train_data):
    """–ë–æ–ª–µ–µ –±—ã—Å—Ç—Ä–∞—è –≤–µ—Ä—Å–∏—è Hitrate@5."""
    y_true = train_data.get_label()
    groups = train_data.get_group()
    
    hitrates = []
    ptr = 0
    
    for group_size in groups:
        if group_size >= 5:  # –ï—Å–ª–∏ –≤ –≥—Ä—É–ø–ø–µ —Ö–æ—Ç—è –±—ã 5 —ç–ª–µ–º–µ–Ω—Ç–æ–≤
            # –ë–µ—Ä–µ–º –∏–Ω–¥–µ–∫—Å—ã top-5 –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π –≤ –≥—Ä—É–ø–ø–µ
            group_preds = preds[ptr:ptr + group_size]
            group_true = y_true[ptr:ptr + group_size]
            
            # –ò—Å–ø–æ–ª—å–∑—É–µ–º argsort –≤–º–µ—Å—Ç–æ argpartition
            top_5_idx = np.argsort(-group_preds)[:5]
            hit = 1 if np.any(group_true[top_5_idx] == 1) else 0
            hitrates.append(hit)
        elif group_size > 0:
            # –î–ª—è –≥—Ä—É–ø–ø –º–µ–Ω—å—à–µ 5 —ç–ª–µ–º–µ–Ω—Ç–æ–≤ —Å—á–∏—Ç–∞–µ–º –ø–æ –≤—Å–µ–º
            group_true = y_true[ptr:ptr + group_size]
            hit = 1 if np.any(group_true == 1) else 0
            hitrates.append(hit)
        
        ptr += group_size
    
    return 'hitrate@5', np.mean(hitrates), True

In [33]:
import lightgbm as lgb

# ============================================================================
#  0. –ó–ê–ì–†–£–ó–ö–ê –ò –°–ü–õ–ò–¢
# ============================================================================

df = df_final_clean_sorted.copy()
df['timestamp'] = pd.to_datetime(df['timestamp'])
split_time = pd.Timestamp("2021-12-12 00:59:05.600000")

df_train = df[df['timestamp'] < split_time].copy()
df_test = df[df['timestamp'] >= split_time].copy()

# –§–∏—á–∏
exclude = ['timestamp', 'user_id', 'post_id', 'target']
feature_cols = [c for c in df_train.columns if c not in exclude]

# –ê–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–æ–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —á–∏—Å–ª–æ–≤—ã—Ö –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö
numeric_cols = df_train.select_dtypes(include=[np.number]).columns
cat_cols = ['age_category', 'gender', 'topic_code', 'exp_group', 'age_topic',]
num_cols = [c for c in numeric_cols if c not in cat_cols and c not in exclude]

# –ë—ã—Å—Ç—Ä–∞—è –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è
if num_cols:
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    df_train[num_cols] = scaler.fit_transform(df_train[num_cols])
    df_test[num_cols] = scaler.transform(df_test[num_cols])
    print(f"–ù–æ—Ä–º–∞–ª–∏–∑–æ–≤–∞–Ω–æ {len(num_cols)} —á–∏—Å–ª–æ–≤—ã—Ö —Ñ–∏—á–µ–π")


# ============================================================================
# 1. –ü–û–î–ì–û–¢–û–í–ö–ê –î–ê–ù–ù–´–• –î–õ–Ø LAMBDARANK
# ============================================================================

print("="*60)
print("–ü–û–î–ì–û–¢–û–í–ö–ê –î–ê–ù–ù–´–• –î–õ–Ø LAMBDARANK")
print("="*60)

# 1.1 –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ user_id (–û–ë–Ø–ó–ê–¢–ï–õ–¨–ù–û!)
df_train = df_train.sort_values('user_id').reset_index(drop=True)
df_test = df_test.sort_values('user_id').reset_index(drop=True)

print(f"–ü–æ—Å–ª–µ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∏: train={len(df_train)} –∑–∞–ø–∏—Å–µ–π, {df_train['user_id'].nunique()} –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π")
print(f"                 test={len(df_test)} –∑–∞–ø–∏—Å–µ–π, {df_test['user_id'].nunique()} –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π")

# 1.2 –í—ã—á–∏—Å–ª—è–µ–º —Ä–∞–∑–º–µ—Ä—ã –≥—Ä—É–ø–ø (–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ—Å—Ç–æ–≤ –Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è)
train_group_sizes = df_train.groupby('user_id').size().values
test_group_sizes = df_test.groupby('user_id').size().values

print(f"\n–†–∞–∑–º–µ—Ä—ã –≥—Ä—É–ø–ø train: {train_group_sizes[:5]}... (–ø–µ—Ä–≤—ã–µ 5)")
print(f"–í—Å–µ–≥–æ –≥—Ä—É–ø–ø –≤ train: {len(train_group_sizes)}")
print(f"–°—Ä–µ–¥–Ω–∏–π —Ä–∞–∑–º–µ—Ä –≥—Ä—É–ø–ø—ã: {train_group_sizes.mean():.1f}")

# –ü—Ä–æ–≤–µ—Ä–∫–∞
assert len(train_group_sizes) == df_train['user_id'].nunique()
assert len(test_group_sizes) == df_test['user_id'].nunique()


# 1.4 –ö–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ —Ñ–∏—á–∏
categorical_cols = ['age_category', 'gender', 'topic_code', 'exp_group', 'age_topic',]
for col in categorical_cols:
    df_train[col] = df_train[col].astype('category')
    df_test[col] = df_test[col].astype('category')

# 1.5 –û—Ç–¥–µ–ª—è–µ–º X, y
X_train = df_train[feature_cols]
X_test = df_test[feature_cols]
y_train = df_train['target'].values
y_test = df_test['target'].values

# ============================================================================
# 2. –°–û–ó–î–ê–ù–ò–ï DATASET –°  –ì–†–£–ü–ü–ê–ú–ò
# ============================================================================

print("\n" + "="*60)
print("–°–û–ó–î–ê–ù–ò–ï LIGHTGBM DATASET")
print("="*60)

# –ö—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–∞–∂–Ω–æ: group=group_sizes, –∞ –Ω–µ group=GroupBy –æ–±—ä–µ–∫—Ç!
train_data = lgb.Dataset(
    X_train,  # DataFrame —Å category —Ç–∏–ø–∞–º–∏
    label=y_train,
    group=train_group_sizes,  # –ú–ê–°–°–ò–í —Ä–∞–∑–º–µ—Ä–æ–≤ –≥—Ä—É–ø–ø!
    categorical_feature=categorical_cols,
    free_raw_data=False
)

valid_data = lgb.Dataset(
    X_test,
    label=y_test,
    group=test_group_sizes,  # –ú–ê–°–°–ò–í —Ä–∞–∑–º–µ—Ä–æ–≤ –≥—Ä—É–ø–ø!
    reference=train_data,  # –í–∞–∂–Ω–æ –¥–ª—è –∫–æ–Ω—Å–∏—Å—Ç–µ–Ω—Ç–Ω–æ—Å—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–π
    categorical_feature=categorical_cols,
    free_raw_data=False
)

print(f"–°–æ–∑–¥–∞–Ω train Dataset: {len(X_train)} —Å—Ç—Ä–æ–∫, {len(train_group_sizes)} –≥—Ä—É–ø–ø")
print(f"–°–æ–∑–¥–∞–Ω valid Dataset: {len(X_test)} —Å—Ç—Ä–æ–∫, {len(test_group_sizes)} –≥—Ä—É–ø–ø")

–ù–æ—Ä–º–∞–ª–∏–∑–æ–≤–∞–Ω–æ 14 —á–∏—Å–ª–æ–≤—ã—Ö —Ñ–∏—á–µ–π
============================================================
–ü–û–î–ì–û–¢–û–í–ö–ê –î–ê–ù–ù–´–• –î–õ–Ø LAMBDARANK
============================================================
–ü–æ—Å–ª–µ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∏: train=1868882 –∑–∞–ø–∏—Å–µ–π, 163090 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
                 test=447797 –∑–∞–ø–∏—Å–µ–π, 134317 –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

–†–∞–∑–º–µ—Ä—ã –≥—Ä—É–ø–ø train: [10 13 17  8  3]... (–ø–µ—Ä–≤—ã–µ 5)
–í—Å–µ–≥–æ –≥—Ä—É–ø–ø –≤ train: 163090
–°—Ä–µ–¥–Ω–∏–π —Ä–∞–∑–º–µ—Ä –≥—Ä—É–ø–ø—ã: 11.5

============================================================
–°–û–ó–î–ê–ù–ò–ï LIGHTGBM DATASET
============================================================
–°–æ–∑–¥–∞–Ω train Dataset: 1868882 —Å—Ç—Ä–æ–∫, 163090 –≥—Ä—É–ø–ø
–°–æ–∑–¥–∞–Ω valid Dataset: 447797 —Å—Ç—Ä–æ–∫, 134317 –≥—Ä—É–ø–ø

In [ ]:

# ============================================================================
# 3. –ü–ê–†–ê–ú–ï–¢–†–´ LAMBDARANK
# ============================================================================

# –†–∞—Å—Å—á–∏—Ç—ã–≤–∞–µ–º –≤–µ—Å–∞
positive_count = y_train.sum()
negative_count = len(y_train) - positive_count
scale_pos_weight = negative_count / positive_count  # ‚âà 4.0

print(f"–°–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ negative:positive = {scale_pos_weight:.1f}:1")

params = {
    'objective': 'lambdarank',
    'metric': 'ndcg',
    'ndcg_eval_at': [5, 10],
    
    # –ë–ê–õ–ê–ù–°–ò–†–û–í–ö–ê
    'scale_pos_weight': scale_pos_weight,  # –ê–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∞—è –±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫–∞
    
    # –ü–∞—Ä–∞–º–µ—Ç—Ä—ã lambdarank
    'lambdarank_truncation_level': 10,
    'lambdarank_norm': True,
    'label_gain': [0, 1],
    
    # –û—Å–Ω–æ–≤–Ω—ã–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã (—É—Å–∏–ª–∏–ª —Ä–µ–≥—É–ª—è—Ä–∏–∑–∞—Ü–∏—é)
    'learning_rate': 0.05,
    'num_leaves': 31,
    'min_data_in_leaf': max(20, int(20 * scale_pos_weight / 10)),  # –£–≤–µ–ª–∏—á–∏–ª
    'max_depth': 7,  
    
    # –†–µ–≥—É–ª—è—Ä–∏–∑–∞—Ü–∏—è
    'lambda_l1': 0.15,
    'lambda_l2': 0.15,
    'feature_fraction': 0.75,
    'bagging_fraction': 0.75,
    'bagging_freq': 5,
    
    'verbosity': -1,
    'seed': 42,
}

# ============================================================================
# 4. –û–ë–£–ß–ï–ù–ò–ï
# ============================================================================

print("\n" + "="*60)
print("–ù–ê–ß–ò–ù–ê–ï–ú –û–ë–£–ß–ï–ù–ò–ï LAMBDARANK")
print("="*60)

model = lgb.train(
    params,
    train_data,
    num_boost_round=500,
    valid_sets=[valid_data],
    valid_names=['valid'],
    feval=hitrate_at_5_fast,
    callbacks=[
        lgb.early_stopping(stopping_rounds=50),
        lgb.log_evaluation(period=50)
    ]
)

print("\n" + "="*60)
print("‚úÖ LAMBDARANK –û–ë–£–ß–ï–ù!")
print("="*60)

–°–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ negative:positive = 5.1:1

============================================================
–ù–ê–ß–ò–ù–ê–ï–ú –û–ë–£–ß–ï–ù–ò–ï LAMBDARANK
============================================================
Training until validation scores don't improve for 50 rounds

In [8]:
import numpy as np
import pandas as pd

In [26]:
# ============================================================================
# 5. –°–û–•–†–ê–ù–ï–ù–ò–ï –ú–û–î–ï–õ–ò
# ============================================================================
print("\n3. –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏...")

model.save_model('lgbm_lambdarank_model.txt')
print(f"   –ú–æ–¥–µ–ª—å —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞: lgbm_lambdarank_model.txt")

# ============================================================================
# 6. –ê–ù–ê–õ–ò–ó –†–ï–ó–£–õ–¨–¢–ê–¢–û–í
# ============================================================================
print("\n4. –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤...")

# –í–∞–∂–Ω–æ—Å—Ç—å —Ñ–∏—á–µ–π
importance_gain = model.feature_importance(importance_type='gain')
importance_split = model.feature_importance(importance_type='split')

# –¢–æ–ø-20 —Ñ–∏—á–µ–π
importance_data = []
for i, name in enumerate(feature_cols):
    importance_data.append({
        'feature': name,
        'importance_gain': importance_gain[i],
        'importance_split': importance_split[i]
    })

importance_df = pd.DataFrame(importance_data)
importance_df = importance_df.sort_values('importance_gain', ascending=False)

print("\n–¢–û–ü-10 –í–ê–ñ–ù–´–• –§–ò–ß–ï–ô (–ø–æ gain):")
print("="*60)
print(importance_df.head(40).to_string(index=False))

3. –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏...
   –ú–æ–¥–µ–ª—å —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∞: lgbm_lambdarank_model.txt

4. –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤...

–¢–û–ü-10 –í–ê–ñ–ù–´–• –§–ò–ß–ï–ô (–ø–æ gain):
============================================================
            feature  importance_gain  importance_split
          age_topic     16532.188210               225
         topic_code     13558.789588               183
       age_category     13127.130133               171
         topic_hour      9618.717450               145
        topic_sport      5321.123979               211
        topic_movie      4574.491380               166
     topic_politics      4555.785881               161
           hour_cos      3960.721853                72
       post_embed_0      3901.097692               149
           hour_sin      3344.559107                88
       post_embed_1      2887.627386               106
     topic_business      1940.344606                87
topic_entertainment      1616.389604                72
         topic_tech      1408.904103                72
          exp_group      1362.395102                60
       weekend_hour      1056.635691                43
            dow_cos       566.043700                28
            dow_sin       482.929700                26
             gender        99.726099                 5

In [31]:
#–ó–∞–≥—Ä—É–∑–∫–∞ –≤ –±–∞–∑—É –∫—É—Ä—Å–∞
import pandas as pd
from sqlalchemy import create_engine
import time

def safe_chunked_upload(df, table_name, chunk_size=50000):  # –£–º–µ–Ω—å—à–∏–ª —á–∞–Ω–∫
    
    total_rows = len(df)
    total_chunks = total_rows // chunk_size + 1
    print(f"–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: {total_rows:,}, —á–∞–Ω–∫–æ–≤: {total_chunks}")
    
    start_time = time.time()
    
    for i, start in enumerate(range(0, total_rows, chunk_size)):
        chunk_start_time = time.time()
        end = min(start + chunk_size, total_rows)
        chunk = df.iloc[start:end]
        
        success = False
        retries = 3  # 3 –ø–æ–ø—ã—Ç–∫–∏
        
        for attempt in range(retries):
            try:
                # –ö–ê–ñ–î–´–ô –†–ê–ó –Ω–æ–≤–æ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
                engine = create_engine(
                    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
                    "postgres.lab.karpov.courses:6432/startml"
                )
                
                with engine.begin() as conn:
                    if start == 0 and attempt == 0:  # –¢–æ–ª—å–∫–æ –¥–ª—è –ø–µ—Ä–≤–æ–π –ø–æ–ø—ã—Ç–∫–∏
                        chunk.to_sql(
                            table_name, 
                            con=conn, 
                            if_exists='replace', 
                            index=False,
                            chunksize=10000  # –í–Ω—É—Ç—Ä–µ–Ω–Ω–∏–π chunksize
                        )
                    else:
                        chunk.to_sql(
                            table_name, 
                            con=conn, 
                            if_exists='append', 
                            index=False,
                            chunksize=10000
                        )
                
                engine.dispose()
                success = True
                break
                
            except Exception as e:
                print(f"–ü–æ–ø—ã—Ç–∫–∞ {attempt+1}/{retries} –Ω–µ —É–¥–∞–ª–∞—Å—å: {e}")
                time.sleep(10 * (attempt + 1))  # –£–≤–µ–ª–∏—á–∏–≤–∞—é—â–∞—è—Å—è –ø–∞—É–∑–∞
                continue
        
        if not success:
            print(f"‚ùå –ß–∞–Ω–∫ {i+1} –Ω–µ —É–¥–∞–ª–æ—Å—å –∑–∞–ø–∏—Å–∞—Ç—å –ø–æ—Å–ª–µ {retries} –ø–æ–ø—ã—Ç–æ–∫")
            return False
        
        chunk_time = time.time() - chunk_start_time
        
        print(f"‚úÖ –ß–∞–Ω–∫ {i+1}/{total_chunks} –∑–∞–ø–∏—Å–∞–Ω ({end:,}/{total_rows:,} —Å—Ç—Ä–æ–∫)")
        print(f"   ‚è±Ô∏è –í—Ä–µ–º—è —á–∞–Ω–∫–∞: {chunk_time:.1f} —Å–µ–∫")
        print(f"   üìä –ü—Ä–æ–≥—Ä–µ—Å—Å: {(end/total_rows*100):.1f}%")
        
        # –ü–∞—É–∑–∞ –º–µ–∂–¥—É —á–∞–Ω–∫–∞–º–∏
        if i < total_chunks - 1:
            time.sleep(2)
    
    total_time = time.time() - start_time
    print(f"\n‚úÖ –í—Å–µ –¥–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–ø–∏—Å–∞–Ω—ã!")
    print(f"‚è±Ô∏è –û–±—â–µ–µ –≤—Ä–µ–º—è: {total_time/60:.1f} –º–∏–Ω—É—Ç")
    
    return True

# –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ
if safe_chunked_upload(df_final_clean_sorted, 'g_seregin_lbm4969_features', 70000):
    print("üéâ –í—Å–µ –¥–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–ø–∏—Å–∞–Ω—ã!")
else:
    print("üí• –ó–∞–ø–∏—Å—å –ø—Ä–µ—Ä–≤–∞–Ω–∞ –∏–∑-–∑–∞ –æ—à–∏–±–∫–∏")

–í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫: 2,316,679, —á–∞–Ω–∫–æ–≤: 34

KeyboardInterrupt: